.action-task-menu {
	padding: 0;
	position: absolute;
	right: 0;
	top: 65px;
	height: calc(100vh - 65px);
	overflow: auto;
	background-color: #ecf3f7;
	.action-task-menu-title {
		width: 100%;
		min-height: 30px;
		overflow: hidden;
		padding: 14px 0;
		position: relative;
		z-index: 4;
		background-color: #1a4876;
		color: #fff;
		.title-id {
			position: absolute;
			top: calc(50% - 11px);
			left: 30px;
		}
		img {
			position: absolute;
			top: calc(50% - 13px);
			right: 30px;
			padding: 5px;
			cursor: pointer;
		}
		.title-name {
			position: relative;
			width: 230px;
			margin: 0 auto;
			line-height: 19px;
		}
	}
	&>.col-12 {
		position: relative;
		top: 0;
		bottom: 0;
		.task-menu-main {
			height: 100%;
			min-height: calc(100vh - 115px);
			width: calc(100% - 265px);
			position: relative;
			top: 0;
			border-right: 1px solid #d7dce0;
			padding: 30px 25px 0 20px;
			.task-menu-description {
				margin-bottom: 40px;
			}
			.create-comment {
				textarea {
					width: 100%;
					height: 85px;
				}
			}
			.comment {
				margin: 50px 0 20px 0;
				&>div:first-child {
					position: relative;
					.comment-avatar {
						position: absolute;
						width: 39px;
						height: 39px;
						background: #f5f5f5;
						border: 1px solid #c9d1d7;
						border-radius: 50%;
					}
					.comment-data {
						color: #525460;
						padding-top: 5px;
						margin-left: 50px;
						.comment-name {
							margin: 0;
						}
						.comment-date {
							font-size: 12px;
						}
					}
				}
				.comment-content {
					background-color: #e3e9f4;
					box-shadow: 0 0 2px #b3b3b3;
					padding: 8px 12px;
					width: 80%;
					border-radius: 6px;
					margin: -6px 0 8px 50px;
				}
			}
		}
		.task-menu-side {
			position: absolute;
			top: 0;
			right: 0;
			width: 265px;
			padding: 30px 0 0 15px;
			&>div {
				margin-bottom: 30px;
				select {
					border-radius: 10px;
					border: 1px solid #008cf0;
					padding: 5px;
					width: 200px;
				}
			}
			.side-status {
				position: relative;
				select {
					margin-left: 20px;
				}
				&>div {
					position: absolute;
					top: 11px;
					left: 0;
					width: 11px;
					height: 11px;
					border-radius: 50%;
				}
			}
			.side-date {
				img {
					position: relative;
					top: -2px;
					margin-right: 3px;
				}
			}
			.side-tags {
				.side-tag {
					font-size: 12px;
					display: inline-block;
					padding: 1px 10px;
					border-radius: 10px;
					margin-right: 10px;
					border: 1px solid #9da1aa;
					color: #9da1aa;
					background-color: #ffffff;
				}
			}
		}
	}
	.clarification {
		color: #aaabb3;
		font-size: 14px;
		margin-bottom: 8px;
	}
}
.action-task-menu.create-task {
	.action-task-menu-title {
		padding: 20px 0;
		.title-name {
			margin: 0 0 0 40px;
		}
	}
	.task-menu-main {
		padding-top: 40px;
		.new-task-content {
			padding: 0 25px;
			margin-bottom: 20px;
			textarea {
				width: 100%;
				height: 85px;
				border: 1px solid #e8e8e8;
			}
		}	
		.new-task-description {
			textarea {
				height: 130px;
			}
		}
		button {
			margin: 40px 0 0 25px;
		}
	}
}

@media screen and (max-width: 1400px) {
	.action-task-menu {
		&>.col-12 {
			.task-menu-main {
				width: calc(100% - 215px);
				.comment {
					.comment-content {
						width: 100%;
						margin-left: 0px;
					}
				}
			}
			.task-menu-side {
				width: 215px;
				&>div {
					select {
						width: 150px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1069px) {
	.action-task-menu {
		width: calc(100%);
		.action-task-menu-title {
			.title-name {
				width: 170px;
			}
		}
		&>.col-12 {
			.task-menu-main {
				min-height: 0;
				width: 100%;
				border: 0;
				.comment {
					.comment-content {
						width: 80%;
						margin-left: 50px;
					}
				}
			}
			.task-menu-side {
				margin: 30px auto 0 auto;
				position: relative;
				width: 255px;
				&>div {
					select {
						width: 200px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.action-task-menu-view {
		.action-task-menu-title {
			.title-name {
				margin-top: 40px;
				width: 90%;
			}
			.title-id {
				top: 20px;
			}
			img {
				top: 20px;
			}
		}
		&>.col-12 {
			.task-menu-main {
				.comment {
					.comment-content {
						width: 110%;
						margin-left: 0px;
					}
				}
			}
			.task-menu-side {
				&>div {
					select {
						width: 150px;
					}
				}
			}
		}
	}
}