.commonPage {
	.main {
		padding: 0;
		margin: 0;
		position: relative;
		width: calc(100vw - 93px);
		left: 93px;
	}
	.standart-button {
		width: 170px;
		background-color: #008cf0;
		transition: 0.3s background-color;
		border: 0;
		border-radius: 20px;
		padding: 6px 0;
		color: #fff;
	}
	.standart-button:hover {
		background-color: #0077cc;
	}
}
.Toastify__toast {
	border-radius: 20px !important;
}