.tasks-page {
	font-family: 'Roboto', sans-serif;
	.tasks-list {
		position: relative;
		overflow-y: auto;
		height: calc(100vh - 65px);
		&>div {
			position: relative;
			width: 100%;
		}
		button {
			margin: 20px 0 0 300px;
		}
		.task-unit {
			width: 100%;
			padding-left: 2px;
			cursor: pointer;
		}
		.tasks-list-params {
			font-weight: 500;
			&>div {
				&>div {
					padding-left: 0;
					p {
						padding-left: 24px;
						border-left: 1px solid #e2e7ea;
					}
				}
			}
		}
		.task-unit-wrapped {
			height: 55px;
			width: 1000px;
			hr {
				position: absolute;
				margin: 0;
				min-width: 1000px;
				width: 99.8%;
			}
			&>div {
				margin: auto 0;
				p {
					padding-left: 20px;
				}
			}
			.task-status {
				text-align: center;
				padding: 0 4px 0 12px;
				p {
					width: 110px;
					display: block;
					margin: 0 auto;
					border-radius: 13px;
					font-size: 13px;
					color: #fff;
					padding: 3px 0 1px 0;
					height: 25px;
				}
			}
			.task-id {
				position: relative;
				div {
					position: absolute;
					border-radius: 2px;
					top: -15px;
					left: 2px;
					width: 4px;
					height: 50px;
				}
				p {
					margin-left: 24px;
				}
			}
			.task-param-id {
				text-align: center;
				p {
					border-left: 0;
				}
			}
			p {
				line-height: 20px;
				text-overflow: ellipsis;
				overflow: hidden; 
				max-height: 41px;
				margin: 0;
			}
		}
	}

	.search-panel {
		height: 65px;
		background-color: #d1e0ed;
		p {
			position: relative;
			top: 12px;
			padding-left: 30px;
			height: 40px;
			input {
				padding: 0 20px;
				width: 680px;
				height: 100%;
				border-radius: 20px;
				border: 1px solid #42aaff;
			}
			input::placeholder {
				color: #c5cfdd;
			}
			img {
				position: relative;
				right: 30px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.tasks-page {
		.tasks-list {
			overflow-x: auto;
		}
		.search-panel {
			p {
				input {
					padding-right: 50px;
					width: 390px;
				}
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.tasks-page {
		.search-panel {
			p {
				input {
					width: 150px;
				}
				input::placeholder {
					color: #fff;
				}
			}
		}
	}
}
